/*************** 
Author: Md. Ashikur Rahman Arzu
Email: arzu2050@gmail.com

Project: E-School
Version: 1.0
Date: 08-Jul-2020

        Index
    0. Typography
    1. Header Section
    2. Books Section
    3. Courses Section
    4. Footer Section
***************/
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;    
}

/* ==========================================================================
   1. Header Section
========================================================================== */
h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

h2{
    font-weight: 700;
    font-size: 36px;
}

h5{
    font-size: 24px;
}

p{
    font-size: 16px;
    color: #585859;
}


/* ==========================================================================
   1. Header Section
========================================================================== */
header{
    background-color: #F0FFF0;
}

nav ul li{
    margin: 0 12px;
}

.sign-in{
    font-family: 'Roboto', sans-serif;
    background-color: #21B573;
    border-radius: 33px;
    color: #FFFFFF !important;
    padding: 0 12px;
}

.button{
    font-family: 'Roboto', sans-serif;
    background-color: #21B573;
    border-radius: 33px;
    color: #FFFFFF !important;
    padding: 12px 28px;
}


/* ==========================================================================
   2. Books Section
========================================================================== */
.book-item{
    height: 270px;
    width: 270px;
    border: 0;
    background: #F8FFFB;
    border-radius: 10px; 
    transition: .2s;   
}
.book-item:hover{
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}


/* ==========================================================================
   3. Courses Section
========================================================================== */
.courses .card{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px !important;
    background-color: #fff;
}
.courses .card:hover{
    background-color: #F8FFFB;
}
.card-footer{
    border-radius: 18px !important;
    background-color: #fff;
}


/* ==========================================================================
   4. Footer Section
========================================================================== */
footer,
footer p,
footer a {
    color: #fff;
}

footer > p{
    color: #CDCDCD;
}

footer a{
    display: block;
}

.text-highlight{
    color: #21B573;
}

footer{
    background-color: #282531;
    overflow: hidden;
}
